body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box; /* This is new; this feature allows the input box to span the body tag, 
    but it does not go past the edge. */
    border: 1px solid #5f9341;
    box-shadow: 0px 0px 1px black;
    border-radius: 0px;
}

button {
    padding: 10px 20px;
    background-color: #5f9341;
    font-weight: bold;
    color: white;
    border: 1px solid #5f9341;
    margin-top: 5px;
}

#delete-btn {
    padding: 10px 20px;
    background-color: white;
    font-weight: bold;
    color: #5f9341;
    border: 1px solid #5f9341;
    margin-top: 5px;
}

li a {
    color: #5f9431;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 24px;
}

li {
    margin: 6px 0;
}